*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Josefin Sans' ;
    font-weight: 600;
}

.clear{
    clear: both;
}

header{
    background-color: rgb(247, 247, 247);
}

.container_1{
    text-align: center;
}

.container_1 img{
    width: 120px;
    height: 100px;
    margin: 10px;
}

.container_cardapio{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 20px;
    
}

.container_enu{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
}

.container_enu h2{
    font-size: 60px;
    padding: 20px;
    margin-bottom: 50px;
    background-color: rgb(247, 247, 247);
    border-radius: 25px;
}

.container_comidas{
    background-color: rgb(247, 247, 247);
    border-radius: 25px;
}

.platos_enu  h2{
    font-size: 30px;
    margin-left: 10%;
    margin-bottom: 50px;
    padding-top: 50px;
    
}

.plato{

    background-color: white;
    width: 95%;
    border-radius: 25px;
    margin-bottom: 50px;
    margin: 0 auto;
    display: flex;
}

.plato img{
    margin-top: 14px;
    margin-bottom: 10px;
    width: 150px;
    height: 120px;
    margin-left: 30px;
    border-radius: 25px;
    
}

.texto{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 14px;
    background-color:rgb(247, 247, 247);
    margin-bottom: 10px;
    border-radius: 25px;
    text-justify: auto;
    width: 75%;
}

.texto h2{
    margin-top: 12px;
    margin-left: 10px;
    text-justify: auto;
    margin-top: 50px;

}

.texto p{
    margin-left: 10px;
    margin-top: 10px;
    text-justify: auto;
    display:none;
}

.tembut{
    height: 50px;
}

.button{
    background-image: url(../images/icons/seta.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 20px;
    margin-top: 50px;
    height: 50px;
    width: 20%;
    display: block;
}

.preco{
    width: 100px;
    height: 100px;
    text-justify: auto;
    margin-right: 10px;
}

.preco p{
    font-size: 25px;
    margin-top: 58px;
    color: lime;
}

.espaco{
    height: 20px;
}

.platos_enu2  h2{
    font-size: 30px;
    margin-left: 10%;
    margin-bottom: 50px;
    margin-top: 60px;
}

.eco2{
    margin-top: 50px;
}

.container_footer{
    background-color: black;
    height: 300px;
    width: 100%;
    display: inline-block;
}

.link_1{
    margin-left: 200px;
    text-decoration: none;
    display: inline-flex;
}


.link_1 img{
    height: 55px;
    display: inline-block;
    margin-top: 70px;
}

.link_1 p{
    color: white;
    display: inline-block;
    margin-top: 90px;
    margin-left: 10px;
}

.link_2{
    margin-left: 200px;
    text-decoration: none;
    display: inline-flex;
    margin-top: -50px;
}

.link_2 img{
    height: 55px;
    display: inline-block;
    margin-top: 70px;
}

.link_2 p{
    color: white;
    display: inline-block;
    margin-top: 90px;
    margin-left: 10px;
}

.text_fi{
    color: white;
    margin-top: 70px;
    text-align: center;
}



















@media screen and (max-width: 550px){

    .plato img{
        height: 65px;
        width: 60px;
        margin-left: 10px;
    }

    .button{
        margin-top: 20px;
    }

    .texto{
        background-color: rgb(228, 228, 228);
    }

    .texto h2{
        margin: 15px;
    }

    .preco{
        margin-top: -23px;
    }

    .container_cardapio{
        margin: 20px unset;
    }

    .container_footer{
        text-align: center;
    }

    .link_1{
        text-align: center;
        margin: 0;
        margin-top: -50px;
    }

    .link_2{
        text-align: center;
        margin: 0;
        margin-top: -50px;
    }

    .container_footer{
        height: 250px;
    }
    
}