*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Josefin Sans' ;
    font-weight: 600;
}

.clear{
    clear: both;
}

header{
    background-color: rgb(247, 247, 247);
}

.container_1{
    text-align: center;
}

.container_1 img{
    width: 120px;
    height: 100px;
    margin: 10px;
}

.container_cardapio{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 20px;
    
}

.container_enu{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
}

.container_enu h2{
    font-size: 60px;
    padding: 20px;
    margin-bottom: 50px;
    background-color: rgb(247, 247, 247);
    border-radius: 25px;
}

.container_comidas{
    background-color: rgb(247, 247, 247);
    border-radius: 25px;
}

.platos_enu  h2{
    font-size: 30px;
    margin-left: 10%;
    margin-bottom: 50px;
    padding-top: 50px;
    
}

.plato{

    background-color: white;
    width: 95%;
    border-radius: 25px;
    margin-bottom: 50px;
    margin: 0 auto;
    display: flex;
}

.plato img{
    margin-top: 14px;
    margin-bottom: 10px;
    width: 150px;
    height: 120px;
    margin-left: 30px;
    border-radius: 25px;
    
}

.texto{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 14px;
    background-color:rgb(247, 247, 247);
    margin-bottom: 10px;
    border-radius: 25px;
    text-justify: auto;
    width: 75%;
}

.texto h2{
    margin-top: 12px;
    margin-left: 10px;
    text-justify: auto;
    margin-top: 50px;

}

.texto p{
    margin-left: 10px;
    margin-top: 10px;
    text-justify: auto;
    display:none;
}

.tembut{
    height: 50px;
}

.button{
    background-image: url(../images/icons/seta.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 20px;
    margin-top: 5%;
    height: 50px;
    width: 50px;
}

.espaco{
    height: 20px;
}

.platos_enu2  h2{
    font-size: 30px;
    margin-left: 10%;
    margin-bottom: 50px;
    margin-top: 60px;
}